<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    
    <!-- angular -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-messages.js"></script>
    <script src="lib/angular-route.js"></script>

    <!-- jQuery library -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery-1.9.1.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <script src="lib/bootstrap/bootstrap.min.js"></script>
   
    <script src="app/app.js"></script>
    

    <script src="../Scripts/usuarios/ingresarUsuariosController.js"></script>
   
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/app/app.js"></script>
    <script src="../Scripts/tasks/tasksController.js"></script>
    <script src="../Scripts/app/app.js"></script>
    <script src="../Scripts/tasks/tasksController.js"></script>
    <link href="../Scripts/index/menu.css" rel="stylesheet" />
    <script src="../Scripts/.js"></script>
      
    <!-- mas estilos -->
    <link rel="stylesheet" href="lib/css/general.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="TodoPagos">
   
    <div class="container" style="text-align:center">

        <h1>Bienvenido a Todo Pago</h1>

        <div ng-controller="Tasks.Controller as tasksCtrl">
            <nav class="{{active}}" ng-click="$event.preventDefault()">

                <!-- When a link in the menu is clicked, we set the active variable -->

                <a href="#" class="home" ng-click="active='home'">Home</a>

                <a href="#/8" class="about" ng-click="active='about'">About</a>
                <a href="#/3" class="contact" ng-click="active='contact'">Contact</a>
            </nav>







            <!-- ng-show will show an element if the value in the quotes is truthful,
             while ng-hide does the opposite. Because the active variable is not set
             initially, this will cause the first paragraph to be visible. -->
            <!-- Include AngularJS from Google's CDN -->
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>


            <ng-view />
        </div>
    </div>

</body>
</html>
