          <h1>Nuevo Administrador</h1>
            <div ng-controller="NuevoAdministrador.Controller">
                <div class="jumbotron">

                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                            <!---div ng-view></!--div-->
                            <div class="col-md-6 col-md-offset-3">

                                <form id="NuevoAdministradorForm" ng-submit="NuevoAdministrador()">
                                    <div class="form-group">
                                        <label for="nombre">Nombre:</label>
                                        <input type="text" name="nombre" class="form-control" ng-model="nombre" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="contraseña">Contraseña:</label>
                                        <input type="text" name="contraseña" class="form-control" ng-model="contraseña" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="nombreusuario">Nombre Usuario:</label>
                                        <input type="text" name="nombreusuario" class="form-control" ng-model="nombreusuario" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="apellido">Apellido:</label>
                                        <input type="text" name="apellido" class="form-control" ng-model="apellido" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="direccion">Direccion:</label>
                                        <input type="text" name="direccion" class="form-control" ng-model="direccion" />
                                    </div>
                                    <div>
                                        <input type="submit" name="agregar" value="Agregar" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
                <script src="//code.angularjs.org/1.2.20/angular.js"></script>
                <script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
                <script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>