   
<div ng-controller="Login.Controller as loginCtrl">

    <div class="form">
        <h1>Login</h1>
        <fieldset>
            <form name="loginForm" novalidate ng-submit="Login()">
                <input name="loginEmail"    type="email"    ng-model="loginEmail"    required placeholder="Correo">
                <input name="loginPassword" type="password" ng-model="loginPassword" required placeholder="Contraseña">
                <div class="error-text" ng-messages="loginForm.loginEmail.$error || loginForm.loginPassword.$error " ng-show="(loginForm.$submitted || loginForm.loginEmail.$touched || loginForm.loginPassword.$touched )">
                    <br />
                    <span ng-message="required">Debe completar todos los campos</span>
                    <span ng-message="email">El email ingresado es incorrecto</span>
                </div>
                <input type="submit" value="Login" name="confirmLogin" title="Inicia sesion">
                <footer class="clearfix">
                  <p><a href="#/createPlayer"><span class="info"></span>(Regístrate)</a></p>
                </footer>
            </form>
        </fieldset>
    </div>

</div>


<div class="error-message" ng-show="showError">
    <span class="error-text">{{showError}}</span>
</div>
