<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/app/app.js"></script>
    <script src="../Scripts/Usuarios/UsuariosController.js"></script>
</head>


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>


    <body ng-app="TodoPagos">
        <div ng-controller="Usuarios.Controller as tasksCtrl">
            <div ng-repeat="task in tasksCtrl.">
                <h2>Task Name: {{task.Name}}</h2>
                <p>Description: {{task.Description}}</p>
            </div>        </div>
    </body>
</html>
