<div ng-controller="Pago.Controller as pagoCtrl">
    <h1>Modificar Pagos</h1>
    <div class="jumbotron">

        <div class="container">
             <table ng-table="tablaPagos" name="tablaPagos" class="table">
                <tr>
                    <th>Id</th>
                    <th>Proveedor</th>
                    <th>Cliente</th>
                    <th>Forma Pago</th>
                    <th>Importe</th>
                    <th>Fecha Pago</th>
                    <th>Fecha Vencimiento</th>

                    <th></th>
                </tr>
                <tr ng-repeat="pago in pagoCtrl.pagoServicio.getPagos">
                    <td>{{pago.Id}}</td>
                    <td>{{pago.Proveedor}}</td>
                    <td>{{pago.Cliente}}</td>
                    <td>{{pago.FechaPago}}</td>
                    <td>{{pago.Importes}}</td>
                    <td>{{pago.FechaPago}}</td>
                    <td>{{pago.Vencimiento}}</td>

                    <td>
                        <div>
                            <input type="button" value="Eliminar" class="btn btn-danger" ng-click="modificar(pago.Id)" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>